<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>LOG IN FORM</h1>
        <form method="POST" action="/auth/login">
            <input class="form" type="text" placeholder="userName" name="userName">
            <input class="form" type="text" placeholder="password" name="password">
            <input class="form" type="submit" value="Sign In" />
        </form>
    </body>
</html>
