<% include ./partials/boilerplate %>

<body>
    <form method="POST" action="/auth/login">
        <input class="form" type="text" placeholder="userName" name="userName">
        <input class="form" type="text" placeholder="password" name="password">
        <input class="form" type="submit" value="Sign In" />
    </form>
</body>

<% include ./partials/end %>
