<header>
    <nav>
        <ul>
            <li>
                <select>
                    <option value="true">sign in</option>
                    <option value="false">sign out</option>
                    <!-- need to make a sign in/out form  -->
                </select>
            </li>
            <li class="title">News App</li>
            <li>
                <select>
                    <!-- set the default selected to the first article in the db -->
                    <!-- add all saved items to the db -->
                    <option value="" selected="selected">article one</option>
                    <option value="">article two</option>
                </select>
            </li>
        </ul>
    </nav>
</header>
