<header>
    <nav>
        <ul>
            <li>Log in</li>
                <!-- need to make a sign in/out form  -->
            <li class="title">News App</li>
            <li>My articles</li>
                <!-- set the default selected to the first article in the db -->
                <!-- add all saved items to the db -->
        </ul>
    </nav>
</header>
