<% include ./partials/boilerplate.ejs %>

    <body>

        <header>
            <nav>
                <ul>
                    <li class="title">Make Me</li>
                    <li><a href="/">Go back</a></li>
                </ul>
            </nav>
        </header>


        <div class="form">
            <form  action="/database" method="POST">
                <input type="text" name="title" placeholder="title" />
                <input type="text" name="author" placeholder="author" />
                <input type="text" name="description" placeholder="description" />
                <input type="text" name="url" placeholder="url" />
                <input class="submit" type="submit" value="submit"/>
            </form>
        </div>
    </body>

<% include ./partials/end.ejs %>
