<% include ./partials/boilerplate.ejs %>

    <body>
        <form  action="/database" method="POST">
            <input class="form" id="title" type="text" name="title" placeholder="title" />
            <input class="form" id="author" type="text" name="author" placeholder="author" />
            <input class="form" id="description" type="text" name="description" placeholder="description" />
            <input class="form" id="description" type="text" name="url" placeholder="url" />
            <input class="form" type="submit" value="submit"/>
        </form>
    </body>

<% include ./partials/end.ejs %>
