<% include ./partials/boilerplate %>
<% include ./partials/header %>
<div class="container">
    <ul class"api">
        <% data.forEach(article => { %>
            <form class="" action="/database" method="POST">
                <input id="title" type="text" name="" value="<%= article.title %>"/>
                <input id="author" type="text" name="" value="<%= article.author %>"/>
                <input id="description" type="text" name="" value="<%= article.description %>"/>
                <a href="/<%= data.id%>"><i id="view" class="fas fa-eye"></i></a>
                <input type="submit" value="submit" />
            </form>
        <% })%>
    </ul>
</div>

<div class="arrow bounce">scroll me<br><a class="fa fa-arrow-down fa-2x"></a></div>
<% include ./partials/end %>

<!-- res.locals.articles = data.articles
// console.log(res.locals.articles)
// res.locals.articles.forEach(data => {
//     console.log(data.title)
// }) -->
