<% include ./partials/boilerplate %>
<% include ./partials/header %>
<div class="container">
    <ul>
        <% data.forEach(book => { %>
            <li><%= book.content %></li>
            <li><%= book.author %></li>
            <div class="icons">
                <li><i class="fas fa-pencil-alt"></i></li>
                <li><i class="fas fa-eye"></i></li>
                <li><i class="fas fa-thumbs-up"></i></li>
            </div>
        <% })%>
    </ul>
</div>
<div class="arrow bounce">scroll me<br><a class="fa fa-arrow-down fa-2x"></a></div>
<% include ./partials/end %>
