<% include ./partials/boilerplate.ejs %>

    <body>

        <header>
            <nav>
                <ul>
                    <li class="title">Login Here</li>
                    <li><a href="/register">Not yet Registered?</a></li>
                </ul>
            </nav>
        </header>
        <div class="form">
            <form method="POST" action="/login">
                <input type="text" placeholder="username" name="username">
                <input type="text" placeholder="password" name="password_digest">
                <input class="submit" class="form" type="submit" value="Sign In" />
            </form>
        </div>

    </body>

    <% include ./partials/end.ejs %>
