<% include ./partials/boilerplate.ejs %>

    <body>

        <header>
            <nav>
                <ul>
                    <li class="title">Register Here</li>
                    <li><a href="/login">Already Registered?</a></li>
                </ul>
            </nav>
        </header>

        <div class="form">
            <form method='POST' action='/register'>
                <input type="text" placeholder="username" name="username">
                <input type="text" placeholder="password_digest" name="password_digest">
                <input type="text" placeholder="email" name="email">
                <input type="text" placeholder="firstname" name="firstname">
                <input type="text" placeholder="lastname" name="lastname">
                <input class="submit" type="submit" value="Register" />
            </form>
        </div>
    </body>

<% include ./partials/end.ejs %>
